{% extends 'base.html' %}

{% block content %}
<article>
  <header>
    <h1>{{ episode.id }} - {{ episode.headline }}</h1>
  </header>

  {% for entry in episode.entry_set.all %}
    <p><a href="{% url 'entry_detail' entry.slug %}">{{ entry.term }}</a></p>
    <p><i>{{ entry.meaning }}</i></p>
    <hr>
  {% endfor %}

  <button id="js-review-btn">Mark as reviewed</button>

  <div class="videoWrapper">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/{{ episode.video }}?start={{ episode.start_at }}"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
  </div>
</article>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {% include 'vocab/_review.html' %}
{% endblock %}
